html{
    background-color: black;
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 20px;
    color: white;
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 720px;
}

.img-container{
    animation: shake 0.7s;
    animation-iteration-count: infinite;
}

.button-quote{
    width: 100px;
    height: 40px;
    margin-top: 80px;
    border-width: 3px;
    border-style: groove;
    background-color: deepskyblue;
}

.footer-container{
    position: relative;
    width: 100%;
    height: 90px;
}

.github-link{
    position: absolute;
    top: 15px;
    left: 20px;
}

.rss-link{
    position: absolute;
    top: 15px;
    right: 20px;
}

@keyframes shake {
    100%{
        transform: rotate(360deg);
    }
}
